@model IEnumerable<Labo.ASP.Models.PersonnelModel>

@{
    ViewData["Title"] = "ListePersonnelCentre";
}

<h1>Liste du personnel du centre</h1>

<br />
@*<div>
    <a asp-action="Index">Retour</a>
</div>
<br />*@

<table class="table">

    <tbody>
    @foreach (var item in Model) {
        <tr>

            <td>
                @item.FirstName @item.LastName
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.NomGrade)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Inami)
            </td>


        </tr>
    }
    </tbody>
</table>
